h1 {
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    font-weight: bold;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: chartreuse;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

img {
    width: 400px;
    height: auto;
}